<!-- Contact  -->
<div id="contact" class="section">
    <div class="grid grid-pad">
        <div class="col-8-12">
            <h3>Get connected</h3>
            <ul class="col-6-12">
                <li><a target="_blank" title="E-mail"   href="mailto:mkhelif@gmail.com"><i class="icon icon-mail"> </i>mkhelif@gmail.com</a></li>
                <li><a target="_blank" title="Mobile"   href="tel:+33629937295"><i class="icon icon-smartphone"> </i>+33 629 93 72 95</a></li>
                <li><a target="_blank" title="Github"   href="http://github.com/mkhelif"><i class="icon icon-git"> </i>Github</a></li>
            </ul>
            <ul class="col-6-12">
                <li><a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/mkhelif"><i class="icon icon-linked_in"> </i>LinkedIn</a></li>
                <li><a target="_blank" title="Twitter"  href="http://twitter.com/mkhelif"><i class="icon icon-twitter"> </i>Twitter</a></li>
                <li><a target="_blank" title="RSS"      href="/feed.xml"><i class="icon icon-newspaper"> </i>RSS</a></li>
            </ul>
        </div>
        <div class="col-4-12">
            <h3>Contact me</h3>
	    <form action="https://getsimpleform.com/messages?form_api_token=7c513a04aed31f49f7194aac4dfc214f" method="post">
		<input type="hidden" name="redirect_to" value="https://www.mkhelif.fr/" />
		<input type="text" name="email" placeholder="Your email address" />
		<textarea name="message" placeholder="Your message"></textarea>
		<input type="submit" value="Send" />
	    </form>
        </div>
    </div>
</div>
