<!-- Contact  -->
<div id="contact" class="section">
    <div class="grid grid-pad">
        <div class="col-8-12">
            <h3>Connect</h3>
            <div id="connect">
                <a>LinkedIn</a>
                <a>Twitter</a>
            </div>

            <h3>Contact me</h3>
	    <form action="https://getsimpleform.com/messages?form_api_token=7c513a04aed31f49f7194aac4dfc214f" method="post">
		<input type="hidden" name="redirect_to" value="http://www.mkhelif.fr/" />
		<input type="text" name="email" placeholder="Your email address" />
		<textarea name="message" placeholder="Your message"></textarea>
		<input type="submit" value="Send" />
	    </form>

            <h3>Other way</h3>
            <div>
                <p id="email">mkhelif@gmail.com</p>
                <p id="phone">+33 629 93 72 95</p>
            </div>

	    <h3>Where to find me?</h3>
            <p>Geneva area</p>
        </div>
    </div>
</div>
