<!-- Contact  -->
<div name="contact" id="contact" class="section">
    <div class="grid grid-pad">
        <div class="col-4-12">
            <h3>Contact me</h3>
	    <form action="https://getsimpleform.com/messages?form_api_token=7c513a04aed31f49f7194aac4dfc214f" method="post">
		<input type="hidden" name="redirect_to" value="http://www.mkhelif.fr/" />
		<input type="text" name="email" placeholder="Your email address" />
		<textarea name="message" placeholder="Your message"></textarea>
		<input type="submit" value="Send" />
	    </form>
        </div>
    </div>

    <div id="connect">
        <h5>Connect</h5>
        <p id="social">
            <a title="Github"   href="http://github.com/mkhelif"><i class="icon icon-git"> </i></a>
            <a title="LinkedIn" href="https://www.linkedin.com/in/mkhelif"><i class="icon icon-linked_in"> </i></a>
            <a title="Twitter"  href="http://twitter.com/mkhelif"><i class="icon icon-twitter"> </i></a>
            <a title="RSS"      href="/feed.xml"><i class="icon icon-newspaper"> </i></a>
        </p>

        <h5>Other ways</h5>
        <p>
            <a href="mailto:mkhelif@gmail.com">
                <i class="icon icon-mail"> </i>
                mkhelif@gmail.com
            </a>
        </p>
        <p>
            <a href="tel:+33629937295">
                <i class="icon icon-smartphone"> </i>
                +33 629 93 72 95
            </a>
        </p>
    </div>
</div>
