<!-- Cover -->
<div id="cover" class="section">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <h1>Marwan Khelif</h1>
            <p>Experienced Java developer</p>
        </div>
    </div>

    <p class="down">
        <a href="/#skills">Skills</a>
        <a href="/#experiences">Experiences</a>
        <img src="/assets/images/down.png" alt="&#x25BC;" title="Scroll down" />
        <a href="/#projects">Projects</a>
        <a href="/#contact">Contact</a>
    </p>
</div>
