<!-- Cover -->
<div id="cover" class="section">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <h1>Marwan Khelif</h1>
            <p>Senior Java developer</p>
        </div>
    </div>

    <p class="down">
        <a href="#skills" name="skills">Skills</a>
        <a href="#experiences" name="experiences">Experiences</a>
        <img src="/assets/images/down.png" alt="&#x25BC;" title="Scroll down" />
        <a href="#projects" name="projects">Projects</a>
        <a href="#contact" name="contact">Contact</a>
    </p>
</div>
