<div id="experiences" class="experience even section">
    <div class="grid grid-pad">
	<div class="col-2-3">
            <h1><span>{</span>CERN<span>}</span></h1>
            <p class="metadata">European Organization for Nuclear Research</p>
            <p class="metadata">Sept. 2012 - Today, Geneva Switzerland, <a href="http://www.cern.ch/">http://www.cern.ch</a></p>
            <div class="description">
                {% capture description %}{% include _cern.md  %}{% endcapture %}
                {{ description | markdownify }}
            </div>
	</div>
        <div class="col-1-3">
            <div class="logo">
                <img src="assets/images/cern.png" alt="CERN" />
            </div>

            <p class="technologies">
                <span>Java</span>
                <span>AngularJS</span>
                <span>Spring <em>Boot, Core, MVC, AOP</em></span>
                <span>Hibernate</span>
                <span>Web <em>JSP, SCSS, JavaScript, JQuery</em></span>
                <span>Tests <em>JUnit, Selenium</em></span>
                <span>CI <em>Atlassian, GitLab, Docker</em></span>
            </p>
        </div>
    </div>
</div>
<div name="developers-forum" id="developers-forum" class="experience section">
    <div class="grid grid-pad">
	<div class="col-3-3">
            <h1><span>{</span>Developers@CERN Forum<span>}</span></h1>
            <p class="metadata">
                CERN, Geneva Switzerland
            </p>
            <div class="description">
                {% capture description %}{% include _cern.developers.md  %}{% endcapture %}
                {{ description | markdownify }}
            </div>

            <!-- 1st Developers@CERN Forum -->
            <div class="event col-3-3">
                <div class="logo col-1-3">
                    <img src="assets/images/developers-cern-forum-1st.png" alt="1st Developers@CERN Forum" title="1st Developers@CERN Forum - Software Quality, Reliability and Testing" />
                </div>
                <div class="col-2-3">
                    {% capture description %}{% include _cern.developers.1.md  %}{% endcapture %}
                    {{ description | markdownify }}

                    <p>
                        <a href="https://indico.cern.ch/event/404359/" title="Event details"><i class="icon icon-link"> </i></a>
                        <a href="https://cdsweb.cern.ch/search?f=490__a&p=1st%20Developers%40CERN%20Forum" title="Recordings"><i class="icon icon-video_camera"> </i></a>
                    </p>
                </div>
            </div>

            <!-- 2nd Developers@CERN Forum -->
            <div class="event col-3-3">
                <div class="col-2-3">
                    {% capture description %}{% include _cern.developers.2.md  %}{% endcapture %}
                    {{ description | markdownify }}

                    <p>
                        <a href="https://indico.cern.ch/event/487416/" title="Event details"><i class="icon icon-link"> </i></a>
                        <a href="https://cdsweb.cern.ch/search?f=490__a&p=2nd%20Developers%40CERN%20Forum" title="Recordings"><i class="icon icon-video_camera"> </i></a>
                    </p>
                </div>
                <div class="logo col-1-3">
                    <img src="assets/images/developers-cern-forum-2nd.png" alt="2nd Developers@CERN Forum" title="2nd Developers@CERN Forum - Python at CERN" />
                </div>
            </div>

            <!-- 3rd Developers@CERN Forum -->
            <div class="event col-3-3">
                <div class="logo col-1-3">
                    <img src="assets/images/developers-cern-forum-3rd.png" alt="3rd Developers@CERN Forum" title="3rd Developers@CERN Forum - Frontend and User Interfaces" />
                </div>
                <div class="col-2-3">
                    {% capture description %}{% include _cern.developers.3.md  %}{% endcapture %}
                    {{ description | markdownify }}

                    <p>
                        <a href="https://indico.cern.ch/event/577155/" title="Event details"><i class="icon icon-link"> </i></a>
                        <a href="https://cdsweb.cern.ch/search?f=490__a&p=3rd%20Developers%40CERN%20Forum" title="Recordings"><i class="icon icon-video_camera"> </i></a>
                    </p>
                </div>
            </div>

            <!-- 4th Developers@CERN Forum -->
            <div class="event col-3-3">
                <div class="col-2-3">
                    {% capture description %}{% include _cern.developers.4.md  %}{% endcapture %}
                    {{ description | markdownify }}

                    <p>
                        <a href="https://indico.cern.ch/event/655194/" title="Event details"><i class="icon icon-link"> </i></a>
                        <a href="https://cdsweb.cern.ch/search?f=490__a&p=4th%20Developers%40CERN%20Forum" title="Recordings"><i class="icon icon-video_camera"> </i></a>
                    </p>
                </div>
                <div class="logo col-1-3">
                    <img src="assets/images/developers-cern-forum-4th.png" alt="4th Developers@CERN Forum" title="4th Developers@CERN Forum - Application Deployment" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="experience even section">
    <div class="grid grid-pad">
        <div class="col-1-3">
            <div class="logo">
                <img src="assets/images/neotys.png" alt="Neotys" />
            </div>

            <p class="technologies">
                <span>J2SE</span>
                <span>Swing</span>
                <span>Protocols <em>GWT-RPC, RTMP</em></span>
                <span>Multithreading <em>1500+ Threads</em></span>
                <span>Tests <em>JUnit</em></span>
            </p>
        </div>
        <div class="col-2-3">
            <h1><span>{</span>Neotys<span>}</span></h1>
            <p class="metadata">Sept. 2006 - Aug. 2012, Gémenos France, <a href="http://www.neotys.com/">http://www.neotys.com/</a></p>
            <div class="description">
                {% capture description %}{% include _neotys.md  %}{% endcapture %}
                {{ description | markdownify }}
            </div>
        </div>
    </div>
</div>
