<div id="blog" class="section">
    <h1><span>{</span>Blog<span>}</span></h1>
    <ul id="post-list">
        {% for post in site.posts limit:3 %}
            <li>
                <h4>
                    <span class="metadata">{{ post.date | date:"%b %d" }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h4>
                <p class="extract">{{ post.content | strip_html | truncatewords: 100 }}</p>
                <p class="action"><a href="{{ post.url }}">Read more...</a></p>
            </li>
        {% endfor %}
    </ul>
    <p class="viewall"><a href="/blog/">View all posts</a></p>
</div>
