<!-- Skills -->
<div id="skills" class="section">
    <div class="grid grid-pad">
        <div class="col-1-1"><h1><span>{</span>Skills<span>}</span></h1></div>
        <div class="col-1-2">
            <p class="label">Java <span>SE, EE, Grails &amp; libraries (Guava, Jersey, Apache...)</span></p>
            <p class="value"><span data-width="100%"> </span></p>

            <p class="label">Spring <span>Boot, Core, Web/MVC, AOP, Data</span> <span class="icon icon-star tooltip right" title="Certified Spring Framework 3.0"> </span></p>
            <p class="value"><span data-width="100%"> </span></p>

            <p class="label">Database <span>Oracle, SQL, PL/SQL, Elasticsearch</span></p>
            <p class="value"><span data-width="90%"> </span></p>
        </div>
        <div class="col-1-2">
            <p class="label">DevOps
                <span>Agile,
                    <span class="tooltip top icon icon-star" title="Test Driven Development - ISTQB Certified Tester"> </span>TDD,
                    <span class="tooltip top" title="Continuous Integration + Continuous Deployment">CI + CD</span>,
                    Microservices, Docker
                </span>
            </p>
            <p class="value"><span data-width="100%"> </span></p>

            <p class="label">Web <span>TypeScript, Angular JS+4, JQuery, Thymeleaf</span></p>
            <p class="value"><span data-width="90%"> </span></p>

            <p class="label">Design / UX <span>CSS (SASS / LESS), Bootstrap</span></p>
            <p class="value"><span data-width="60%"> </span></p>
        </div>
    </div>
</div>
