<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ site.name }} | Senior Software Engineer</title>
        
        <!-- Styles & Scripts -->
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <!--[if gte IE 8]>
            <script type="text/javascript" src="/assets/js/jquery.1.11.1.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/assets/js/jquery.tooltipster.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/assets/js/waypoints.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/simplegrid.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/animate.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/tooltipster.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/highlight.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/application.css" />
        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

        <script type="text/javascript" src="/assets/js/application.js"></script>
        
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900" rel="stylesheet" type="text/css" />
        <link href="//fonts.googleapis.com/css?family=Inconsolata:400" rel="stylesheet" type="text/css" />
        <!--[if IE]>
            <link rel="stylesheet" type="text/css" media="all" href="/assets/compatibility.css" />
        <![endif]-->
    </head>

    <body>
	{{ content }}

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2859250-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-2859250-3');
        </script>
    </body>
</html>
