---
layout: default
disqus: true
archive: true
---

<!-- Navigation -->
<p id="navbar">
    <a href="/#skills">Skills</a>
    <a href="/#experiences">Experiences</a>
    <a href="/#projects">Projects</a>
    <a href="/#contact">Contact</a>
    <a href="/blog/">Blog</a>
</p>

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ site.baseurl }}/assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if page.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <div id="blog" class="section archive readmore">
	<h3>Read more</h3>
        <ul id="post-list">
            {% for post in site.posts limit:3 %}
                <li>
                    <h4>
                        <span class="metadata">{{ post.date | date:"%b %d" }}</span>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h4>
                    <p class="extract">{{ post.content | strip_html | truncatewords: 100 }}</p>
                    <p class="action"><a href="{{ post.url }}">Read more...</a></p>
                </li>
            {% endfor %}
        </ul>
        <p class="viewall"><a href="/blog/">View all posts</a></p>
    </div>
{% endif %}

{% include footer.html %}
